doctype 5
html(lang="fr")
  head
    meta(charset="utf-8")
    title Mes Infos - Privowny
    style.
        html,
        body {
         height: 100%;
          width: 100%;
          margin: 0;
        }

  body
    iframe(src="https://privowny.com/#{token}", width="100%", height="100%", seamless="seamless")