doctype 5
html(lang="fr")
  head
    meta(charset="utf-8")
    title Mes Infos - Privowny
    script(type="text/javascript", src="jquery.js")
    script(type="text/javascript", src="app.js")
    style.
        html,
        body {
         height: 100%;
          width: 100%;
          margin: 0;
        }
  body
    iframe(src="https://mesinfos.privowny.com/#{token}", width="100%", height="100%", seamless="seamless")